@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    /* Hide scrollbars */
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

.search-body {
    display: flex;
    justify-content: center;
}

.search-body>input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid grey;
    padding-left: 30px;
    margin-bottom: 10px;
}

.search-body>button {
    border-radius: 6px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    width: 50px;
}

.navbar {
    font-family: "Space Grotesk";
    height: 75px;
    width: 100vw;
    /* border: 1px solid red; */
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: black;
}

.navbar>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar-items {
    /* border: 2px solid red; */
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding-left: 20px;
    transition: all 0.3s ease-out;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    /* background-color: white; */
}
.log-btn{
    /* border: 2px solid red; */
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding-left: 50px;
    transition: all 0.3s ease-out;
    padding-top: 5px;
    background-color: black;
    font-family: "Space Grotesk";
    color: white;
    text-decoration: none;
    /* background-color: white; */
}
.log-btn:hover{
    /* border: 2px solid red; */
    /* background-color: white; */
    cursor: pointer;
    border: 1px solid white;
}

.navbar-items:hover {
    cursor: pointer;
    border: 1px solid white;
}

.cards-layout {
    display: flex;
    flex-flow: row wrap;
    /* border: 2px solid red; */
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

#menu-link {
    text-decoration: none;
    color: black
}

.cards {
    font-family: "Space Grotesk";
    padding: 20px 20px 0px 20px;
    width: 250px;
    height: 300px;
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all 0.7s ease;
    gap: 10px;
    justify-content: start;
}

#name-card {
    margin-top: 5px;
    align-self: start;
    /* border: 1px solid red; */
}

.cards:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid grey;
    cursor: pointer
}

.upper-part-cards {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 70%;
}

.upper-part-cards>img {
    width: 200px;
    /* border: 2px solid grey; */
}

.opaque-text {
    opacity: 0.6;
    font-size: 12px;
    width: 200px;
    /* border: 1px solid red; */
    margin-top: 10px;
    height: 50px;
}

.footer {
    font-family: "Space Grotesk";
    /* border: 2px solid black; */
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    /* align-self: flex-end; */
    /* min-height: 100vh; */
    top: 100%;
    bottom: 0;
    position: absolute;
}

.res-data {
    /* border:1px solid red; */
    width: 100%;
    height: 25px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rating {
    /* border: 2px solid red; */
    background-color: #48c479;
    font-size: 12px;
    display: flex;
    height: 90%;
    width: 35px;
    align-items: center;
    color: white;
    padding-left: 3px;
}

#rating>img {
    filter: invert()
}

.res-data-styling {
    font-size: 12px;
    opacity: 0.7;
}

.info-band {
    display: flex;
    height: 245px;
    width: 100vw;
    /* border: 2px solid red; */
    background-color: #171a29;
    padding: 0px 20px 0px 20px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Oswald" !important;
    margin-bottom: 20px;
}

.info-band>img {
    height: 165;
    width: 254;
    align-self: center;
}

.band-rat-time-cost {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red */
    padding-right: 30px;
    border-right: 1px solid grey;
}

.rating-stars>img {
    filter: invert()
}

.delivery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 35px;
    border-right: 1px solid grey;
    margin-left: 30px;

}

.cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.menu-card {
    border-bottom: 1px solid grey;
    height: min-content;
    padding: 20px;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    font-family: "Oswald";
}

.menu-body {
    display: flex;
    justify-content: space-around;
}

.menu-items {
    padding: 10px 15px;
    font-family: "Space Grotesk";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-desc>h2 {
    font-size: 1.22rem;
}

.item-desc>p {
    font-size: 1rem;
}

#para {
    margin-top: 14px;
    font-size: 0.8rem;
    opacity: 0.7;
}
.form-page{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.items-headings{
    font-family: "Space Grotesk";
    font-size: 50px;
}
.form-page> input{
    font-family: "Space Grotesk";
    margin-bottom: 25px;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border:1px solid grey;
    padding: 20px;
}
.form-page > button{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Space Grotesk";
    /* transition: all 1s ease; */
}
@keyframes bgtrans {
    from{
        background: black
    }
    to{
        background: linear-gradient(45deg, red, yellow, orange);
        font-size: 20px;
        color: black
    }
}
.form-page > a > button:hover{
    animation: bgtrans 0.6s ease-out forwards
}




/* Shimmer */
.shimmer-card{
    height: 300px;
    width: 250px;
    margin:20px;
    /* background-color: grey; */
    padding: 20px 20px 0px 20px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.shimmer-img{
    width: 200px;
    height: 100px;
    background:linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    animation: placeholderShimmer 2s linear forwards infinite;
}
.shimmer-name{
    width: 100px;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    animation: placeholderShimmer 2s linear forwards infinite;

}
.shimmer-opaque-text{
    height: 50px;
    width: 200px;
    /* border: 1px solid green;*/
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);;
    margin-top: 10px;
    animation: placeholderShimmer 2s linear forwards infinite;

}
.shimmer-info{
    height: 30px;
    width: 200px;
    margin-top: 10px;
    /* border: 1px solid blue */
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    animation: placeholderShimmer 2s linear forwards infinite;

}
@keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }